<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    </head>
    <body>
        <div class="header-bar">
            <div class="container">
                <a class="logo" href="#">Daily<span>Update</span></a>
                <h1 class="date">1/1/2022</h1>
            </div>
        </div>
        <div class="intro">
            <h1 class="welcome-text">Welcome to your Daily Update, Joseph!</h1>
        </div>
        <div class="info-section">
            <div class="info-section-header">
                <h1 class="section-title">⛅ The Weather Today:</h1>
            </div>
            <div class="weather-boxes">
                <div class="weather-box">
                    <p class="weather-time">8AM-1PM</p>
                    <p class="weather-note">Sunny</p>
                    <!-- <p class="weather-icon">🌞</p> -->
                    <img class="weather-icon" src="http://openweathermap.org/img/wn/01d@4x.png" alt="">
                    <p class="weather-temp">24.62 °F</p>
                </div>
                <div class="weather-box">
                    <p class="weather-time">1-3PM</p>
                    <p class="weather-note">Rainy</p>
                    <img class="weather-icon" src="http://openweathermap.org/img/wn/01d@4x.png" alt="">
                    <p class="weather-temp">24.62 °F</p>

                </div>
                <div class="weather-box">
                    <p class="weather-time">3-6PM</p>
                    <p class="weather-note">Light Clouds</p>
                    <img class="weather-icon" src="http://openweathermap.org/img/wn/01d@4x.png" alt="">
                    <p class="weather-temp">24.62 °F</p>

                </div>
            </div>
            <div class="weather-information">
                <div class="weather-piece">
                    <p class="weather-piece-text">🔽Low:<span tag="low-temp">24.62 °F</span></p>
                </div>
                <div class="weather-piece">
                    <p class="weather-piece-text">🔼High:<span tag="high-temp">27.84 °F</span></p>
                </div>
                <div class="weather-piece">
                    <p class="weather-piece-text">💥Pressure:<span tag="pressure">1030.0 hPa</span></p>
                </div>
                <div class="weather-piece">
                    <p class="weather-piece-text">💦Humidity:<span tag="humidity">90.75%</span></p>
                </div>
                <div class="weather-piece">
                    <p class="weather-piece-text">💨Wind Speed:<span tag="wind-speed">1.68 mph</span></p>
                </div>
            </div>
        </div>

        <div class="info-section">
            <div class="info-section-header">
                <!-- <img class="section-icon" src="https://drive.google.com/uc?export=view&id=1pldXz7dPOvJZz-nX1X6Q335bmh1_uGx8" alt=""> -->
                <h1 class="section-title">📆 What's Planned:</h1>
            </div>
            <div class="section-text">
                <ul tag="schedule-list">
                  </ul>
                  </div>
                </ul>
            </div>
        </div>

        <div class="info-section">
            <div class="info-section-header">
                <!-- <img class="section-icon" src="https://drive.google.com/uc?export=view&id=1D8hUvSehS2Gv4WClOMrQx7hXKlpMfEOg" alt=""> -->
                <h1 class="section-title">🏋 Your workout:</h1>
            </div>
            <div class="section-text">
                <p class="section-prompt" tag="workout-prompt">
                    This is your workout for the day.
                </p>
                <div tag="workout-container">
                </div>
                </div>
            </div>
            <div class="bottom">

            </div>
        </div>


        </div>
    </body>
</html>